.App{
  margin-top: 20px;
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  -ms-flex-pack: center;
  @include align-content(space-between);
  -ms-flex-line-pack: justify;
  @include align-items(stretch);
  -ms-flex-align: stretch;
  .flex-filters-container{
    max-width: 300px;
    padding-left: 10px;
    border-right: 1px solid #ebebeb;
    @include flex(1, 0, auto);
    @include align-self(auto);
  }
  .flex-products-container{
    @include flex(9, 0, auto);
    @include align-self(auto);
  }
}
