.App{
  margin-top: 20px;
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  -ms-flex-pack: start;
  @include align-content(flex-start);
  -ms-flex-line-pack: start;
  @include align-items(stretch);
  -ms-flex-align: stretch;
  .flex-filters-container{
    max-width: 280px;
    border-right: 1px solid $border-color;
    @include flex(1, 0, auto);
    @include align-self(auto);
  }
  .flex-products-container{
    @include flex(9, 0, auto);
    @include align-self(stretch);
  }
}
