.CustomRating{
  .flex-container-option{
    @include flex(8, 0, auto);
    @include align-self(auto);
    .filter-option{
      display: block;
      margin-bottom: 5px;
      .filter-label {
        padding-left: 7px;
        font-size: 14px;
        color: $secondary-text-color;
      }
    }
  }
  .flex-container-amount{
    @include flex(2, 0, auto);
    @include align-self(auto);
    .filter-amount{
      margin-bottom: 5px;
      span{
        font-size: 14px;
        color: $secondary-text-color;
      }
    }
  }
}
