.FilterResults{
  @include flex(7, 0, auto);
  @include align-self(auto);
  .search-results{
    p{
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 4px;
      color: $primary-text-color;
      font-size: 14px;
    }
    span{
      color: $dark-text-color;
      font-size: 14px;
    }
  }
  .selected-filters{
    p{
      display: inline-block;
      color: $primary-text-color;
      font-size: 14px;
    }
    span{
      border: 1px solid $border-color;
      color: $dark-text-color;
      padding: 5px 8px 5px 8px;
      margin-left: 5px;
      i{
        padding-left: 5px;
      }
    }
  }
}
