.ViewFilters{
  @include flex(3, 0, auto);
  @include align-self(flex-start);
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    .dropbtn {
      background-color: white;
      color: $secondary-text-color;
      padding: 10px 16px 10px 16px;
      font-size: 14px;
      border: 1px solid $light-border-color;
      cursor: pointer;
      span{
        color: #9b9b9b;
      }
    }
    .dropbtn:focus{
      outline: none;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: inherit;
      border: 1px solid $light-border-color;
      p{
        color: $secondary-text-color;
        padding: 12px 16px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-decoration: none;
        display: block;
      }
      p:hover{
        background-color: $green;
        color: white;
        cursor: pointer;
      }
    }
    .show {display:block;}
  }
  .columns-filter{
    display: inline-block;
    img{
      margin-right: 10px;
    }
  }
}
