$backgroundColor: #fff;

$defaultFontColor: #555;

$border-color: #ebebeb;
$light-border-color: #f3f3f3;

$dark-text-color: #9b9b9b;
$primary-text-color: #686868;
$secondary-text-color: #383838;

$green: #56c47a;

$default-icon-color: #dadada;

$favourite-color: #e53935;
$star-color: #fdd201;
