.Product{
  padding: 20px;
  margin: 10px;
  width: 220px;
  border: 2px solid white;
  .product-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include transition(.3s, linear);
  }
  .product-rating{
    margin-top: 20px;
    .Rating{
      i{
        padding-right: 4px;
        color: $default-icon-color;
      }
      .color-star{
        color: $star-color;
      }
    }
    .Favourite{
      float: right;
      color: $default-icon-color;
      .favourite-color{
        color: $favourite-color;
      }
    }
  }
  .product-description{
    .product-name{
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 300;
      color: $primary-text-color;
    }
    span{
      color: $primary-text-color;
      font-size: 14px;
    }
  }
}
.Product:hover{
  border: 2px solid #56c47a;
  .product-image{
    @include scale(1.1);
  }
  .product-description{
    .product-name{
      color: $green;
    }
  }
}
